:root {
    --form : #FFFCF2;
}

h1,
p {
  margin: 0;
}

h2 {
  margin: 10px 0px;
}

.resume-body {
  height: 90vh;
  width: min(calc(90vh * (8.27 / 11.69)), calc(50vw - 60px));
  background-color: var(--form);
  margin: 20px;
  padding: 50px;
  box-sizing: border-box;
}

/* RESUME ELEMENTS */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  gap: 20px;
}

.line-design {
  width: 98%;
  height: 2px;
  background-color: black;
  margin-top: 20px;
}

.skill-list,
.experience-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exp-container {
  margin: 4% 0;
}

.job-company,
.school {
  font-weight: 600;
}

.date {
  font-weight: 500;
}

.education-list {
  margin: 15px 0;
}

@media (max-width: 768px) {
  .resume-body {
    width: calc(80vw - 60px);
    height: calc((80vw - 60px) / 0.707);
  }
}