:root {
  --background : #252422;
  --form : #FFFCF2;
  --secondary : #CCC5B9;
}

body {
  background-color: var(--background);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1,
p {
  margin: 0;
}

.form-input {
  background-color: var(--secondary);
}

.resume-body {
  height: 90vh;
  width: min(calc(90vh * (8.27 / 11.69)), calc(50vw - 60px));
  background-color: var(--form);
  margin: 20px;
  padding: 20px;
}

/* RESUME ELEMENTS */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .resume-body {
    width: calc(80vw - 60px);
    height: calc((80vw - 60px) / 0.707);
  }
}